{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}
{% block body %}
	<div class="mx-auto text-center" style="width: 500px;">
		<h1 class="h3 mb-3 font-weight-normal">Hello
			{{ app.user }}!
		</h1>
		<div>Welcome</div>
		<div>Please select a product</div>
		<br><br>
	</div>
	{{ include('search/index.html.twig') }}
{% endblock %}
